body {
    background: linear-gradient(to bottom right, mediumaquamarine, mediumblue);
    padding: 100px;
    box-shadow: black, 100px;
    font-family: "Roboto", sans-serif;
}

.main {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

a{
    color: cornflowerblue;
    text-decoration: none;
}

#submit {
    border-radius: 1px;
    border-style: solid;
    color: black;
    border-color: #9a9a9a;
    background-color: white;
    padding: 5px;
    border-width: 1px;
}

textarea {
    border-color: #9a9a9a;
    border-width: 1px;

}

.avatar {
    border-radius: 50%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: .15s ease-out;
}

.avatar:hover
{
    border-radius: 20px;
    transition: .15s ease-out;
}
