* {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
    background-color: RGBA(0, 0, 0, 0);
}

table {
    margin-left: auto;
    margin-right: auto;
}

.post {
    background-color: darkslategray;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}

body {
    background-color: #333;
}

a{
    color: cornflowerblue;
    text-decoration: none;
}

#submit {
    border-radius: 40px;
    border-style: none;
    color: white;
    background: linear-gradient(to right, mediumblue,mediumaquamarine);
    padding: 5px;
    width: 25%;
    height: 50px;
}

#headin {
    color: lightgreen;
    text-decoration: none;
}

textarea {
    background-color: darkslategray;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}

input[type="text"] {
    border-radius: 40px;
    border-color: white;
    border-style: none;
    color: white;
    background-color: gray;
    padding: 5px;
    width: 25%;
    height: 50px;
}

input[type="password"] {
    border-radius: 40px;
    border-style: none;
    color: white;
    background-color: gray;
    padding: 5px;
    width: 25%;
    height: 50px;
}



.avatar {
    border-radius: 50%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: .15s ease-out;
}

.avatar:hover
{
    border-radius: 20px;
    transition: .15s ease-out;
}
